<!--
  Generated template for the AccionesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-toolbar>
		<ion-title>Operador</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content padding>
	<ion-list padding>
		<ion-item>
			<ion-badge>Operador:</ion-badge>
			<h2>{{ user.nombre }} {{ user.apellidoPaterno }} {{ user.apellidoMaterno }}</h2>
		</ion-item>
		<ion-item>
			<ion-badge>Equipo asignado:</ion-badge>
			<h2>{{ tipoVehiculo }} - {{ user.equipo.nombreCorto }}</h2>
		</ion-item>
		<ion-item>
			<ion-badge>División:</ion-badge>
			<h2>{{ user.equipo.asignadoDivision }}</h2>
		</ion-item>
	</ion-list>
	<div *ngIf="user.equipo != null">
		<button ion-button full color="danger" [navPush]="createChecklistPage" *ngIf="tipoVehiculo == 'CAMIÓN REVOLVEDOR'">Crear checklist</button>
		<button ion-button full color="danger" [navPush]="createChecklistBPPage" *ngIf="tipoVehiculo == 'Bomba Pluma'">Crear checklist</button>
		<button ion-button full color="danger" [navPush]="viewChecklistPage" full>Ver checklist</button>
	</div>
	<div *ngIf="user.equipo == null">
		<ion-card>
			<ion-card-content>
				<h2>No tienes equipos asignados</h2>
			</ion-card-content>
		</ion-card>
	</div>
	<button ion-button full (click)="salir()">Salir</button>

</ion-content>
